/* For reference only - plugin loads the minified CSS file */

/* VS Knowledge Base stylesheet */

/* Knowledge base container (ul) */
#vskb {clear:both; margin:0; padding:0; border:0; background:none; list-style:none;}
#vskb:after {content:''; display:block; height:0; clear:both;}

/* Fix for default Twenty themes (ul) */
.vskb-twenty .entry-content #vskb {margin-left:auto; margin-right:auto;}

/* Misc */
#vskb ul {margin:0; padding:0; border:0; background:none;}
#vskb li {margin:0; padding:0; border:0; background:none;}
#vskb a {margin:0; padding:0; border:0; background:none; box-shadow:none; text-decoration:none;}
#vskb a:hover {text-decoration:underline;}

/* One column (li) */
#vskb.vskb-one li.vskb-cat-list {width:100%; margin:0 0 20px 0; float:left;}

/* Two columns (li) */
#vskb.vskb-two li.vskb-cat-list {width:48%; margin:0 4% 20px 0; float:left; list-style:none;}
#vskb.vskb-two li.vskb-cat-list:nth-of-type(2n+1) {clear:left;}
#vskb.vskb-two li.vskb-cat-list:nth-of-type(2n+0) {margin:0 0 20px 0;}

/* Three columns (li) */
#vskb.vskb-three li.vskb-cat-list {width:30%; margin:0 5% 20px 0; float:left;}
#vskb.vskb-three li.vskb-cat-list:nth-of-type(3n+1) {clear:left;}
#vskb.vskb-three li.vskb-cat-list:nth-of-type(3n+0) {margin:0 0 20px 0;}

/* Four columns (li) */
#vskb.vskb-four li.vskb-cat-list {width:22%; margin:0 4% 20px 0; float:left;}
#vskb.vskb-four li.vskb-cat-list:nth-of-type(4n+1) {clear:left;}
#vskb.vskb-four li.vskb-cat-list:nth-of-type(4n+0) {margin:0 0 20px 0;}

/* Category name */
.vskb-cat-name {margin:0 0 10px; padding:0 0 10px; font-size:1.2em; line-height:1.2em; font-weight:bold; border-bottom:1px solid #ccc;}

/* Category description */
.vskb-cat-description {margin:0 0 10px;}
.vskb-cat-description p {margin:0 0 10px; padding:0;}
.vskb-cat-description p:last-of-type {margin-bottom:0;}

/* Category image */
.vskb-cat-image {display:block; max-width:100%; height:auto; margin:0 0 10px; padding:0; border:0;}

/* Post list (ul) */
.vskb-post-list {}

/* Post name (li) */
#vskb .vskb-post-name {margin:0 0 0 20px;}

/* Post count */
.vskb-post-count {font-weight:normal;}

/* Post meta */
.vskb-post-meta {clear:both; font-size:0.8em;}
.vskb-post-meta-date {}
.vskb-post-meta-author {}
.vskb-post-meta-sep {}

/* View all link */
.vskb-view-all-link {margin:0 0 0 20px; padding:10px 0 0; font-weight:bold;}

/* No categories notification */
.vskb-no-categories {margin:0; padding:0 0 20px;}

/* Widget */
.vskb-widget {}
.vskb-widget:after {content:''; display:block; height:0; clear:both;}

/* Widget text above knowledge base */
.vskb-widget-text {margin:0 0 20px;}
.vskb-widget-text p {margin:0 0 10px; padding:0;}
.vskb-widget-text p:last-of-type {margin-bottom:0;}

/* Mobile */
@media screen and (max-width:767px) {
	/* Three columns (li) */
	#vskb.vskb-three li.vskb-cat-list {width:48%; margin:0 4% 20px 0;}
	#vskb.vskb-three li.vskb-cat-list:nth-of-type(3n+1) {clear:none;}
	#vskb.vskb-three li.vskb-cat-list:nth-of-type(3n+0) {margin:0 4% 20px 0;}
	#vskb.vskb-three li.vskb-cat-list:nth-of-type(2n+1) {clear:left;}
	#vskb.vskb-three li.vskb-cat-list:nth-of-type(2n+0) {margin:0 0 20px 0;}

	/* Four columns (li) */
	#vskb.vskb-four li.vskb-cat-list {width:48%; margin:0 4% 20px 0;}
	#vskb.vskb-four li.vskb-cat-list:nth-of-type(2n+1) {clear:left;}
	#vskb.vskb-four li.vskb-cat-list:nth-of-type(2n+0) {margin:0 0 20px 0;}
}
